<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="all" href="css/entrada.css" />

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="max-width:850px; margin:0 auto;">
		{{>menubar}}
		<section id="divContent" style="clear:left">
			<div id="divContentLeft">
				<h3 class="textoDestaque">Procure Por Casas, Sítios, Apartamentos Para Vender e Alugar</h3>
				<form class="form-horizontal" style="width:80%;">
					<input type="text" class="form-control" id="inputSearch" placeholder="Cep, Logradouro ou Cidade"> 
					<button type="button" class="btn btn-success" id="btnEntrar">Pesquisar</button><br/>x
					<button type="button" id="btnPesquisar">Pesquise</button>
				</form>
			</div>
			<div id="divContentBody">
				<picture id="picBody" class="clsFigure">
					<source media="(min-device-width: 1024px)" srcset="images/garagem/verylarge.jpg 1x, images/garagem/verylarge.jpg 2x">
					<source media="(min-device-width: 768px)" srcset="images/garagem/large.jpg 1x, images/garagem/large.jpg 2x">
					<source media="(min-device-width: 200px)" srcset="images/garagem/mobile.jpg 1x, images/garagem/mobile.jpg 2x">
					<source srcset="images/garagem/mobile.jpg 1x, images/garagem/mobile.jpg 2x">
					<img class="clsFigure" id="imgBody" src="images/garagem/mobile.jpg" srcset="images/garagem/large.jpg 1.5x, images/garagem/verylarge.jpg 2x" />
				</picture>
				<!--<img id="imgBody" src="images/garagem/medium.jpg" />-->
			</div>
		</section>
		<footer id="divFooter">trailer</footer>
	</div>
</body>
</html>
{{>login/popup}}