<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<style>
#header {
	width: 80%;
	margin: 0 auto;
	height: 50px;
	background: #111199;
}
#main { 
    width: 80%;
    margin: 0 auto;
	background: #121212;
}
#sidebar    {
    width: 20%;
    height: 500px;
    background: darkgreen;
    float: left;
}
#page-wrap  {
    width: 60%;
    background: darkred;
    height: 500px;
    margin-left: 200px;
}
#footer {
	width: 80%;
	margin: 0 auto;
	height: 20px;
	background: #115599;
}
</style>
</head>
<body>
	<div id="header">
	</div>
	<div id="main">
	  <div id="sidebar"></div>
	  <div id="page-wrap"></div>
	</div>
	<div id="footer">
	</div>
</body>
</html>