<html>
<head>
	<link rel="stylesheet" type="text/css" media="all" href="css/layout.css" />

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	{{>header}}
	<div id="divContent">
		<div id="divContentLeft">
			<h3 style="display:inline-block;vertical-align:sub;">Cadastre-se</h3>
			<button type="button" class="btn btn-xs btn-alert" style="font-weight:bolder;font-stretch:expanded;width:8%;">JÁ</button>
			<form class="form-horizontal" style="width:80%;">
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Seu E-mail" style="width:80%;display:inline-block;"> 
				<button type="button" class="btn btn-success" style="width:10%;position:absolute;float:right;">Entrar</button>
			</form>
		</div>
		<div id="divContentBody">
			<img id="imgBody" src="images/garagem/medium.jpg"/>
		</div>
	</div>
	<div id="divFooter">trailer</div>
</body>
</html>