<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="all" href="css/layout.css" />

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	{{>header}}
	<div id="divContent">
		<div id="divContentLeft">
			<h3 class="textoDestaque">Cadastre-se</h3>
			<button id="btnJa" type="button" class="btn btn-xs btn-alert" data-toggle="modal" data-target="#myModal">JÁ</button>
			<form class="form-horizontal" style="width:80%;">
				<input type="email" class="form-control" id="inputEmail" placeholder="Seu E-mail"> 
				<button type="button" class="btn btn-success" id="btnEntrar">Entrar</button>
			</form>
		</div>
		<div id="divContentBody">
			<img id="imgBody" src="images/garagem/small.jpg" srcset="images/garagem/small.jpg 770w, images/garagem/medium.jpg 850w, images/garagem/large.jpg 1050w, images/garagem/verylarge.jpg 1080w" />
			<!--picture id="picBody">
			  <source srcset="images/garagem/small.jpg" media="(max-device-width: 770px)">
			  <source srcset="images/garagem/medium.jpg" media="(max-device-width: 850px)">
			  <source srcset="images/garagem/large.jpg" media="(max-device-width: 1050px)">
			  <source srcset="images/garagem/verylarge.jpg" media="(min-device-width:1051px)">
			  <img src="images/garagem/small.jpg" alt="Garage">
			</picture-->
		</div>
	</div>
	<div id="divFooter">trailer</div>
</body>
</html>
{{>login/popup}}