<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="all" href="css/principal.css" />

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="max-width:850px; margin:0 auto;">
		{{>superiorbar}}
		<section id="divContent" style="clear:left;">
			<div id="divContentLeft">
				<div class="box">
					<h1 class="textoDestaque">Procure Por Casas, Sítios, Apartamentos Para Vender e Alugar</h1>
					<form class="form-horizontal" style="width:90%;">
						<input type="text" class="form-control" id="inputSearch" placeholder="Cep, Logradouro ou Cidade"> 
						<a href="#"><div class="btn btnHover">Pesquisar</div></a>
					</form>
				</div>
			</div>
		</section>
		{{>footerpage}}
	</div>
</body>
</html>
{{>login/popup}}