<header style="width:100%">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="border:0 !important;border-radius:0px !important;position:relative;margin-left:0 !important;height:25px;background:#2ecc71;color:white;margin-top:0;width:80px" type="button" data-toggle="dropdown"><span style="position:absolute;top:0;left:25%;">Login</span>
    </button>
  </div>

    
    <div style="display:inline;float:right">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" style="position:relative;margin-left:0 !important;height:25px;background:#2ecc71;color:white;margin-top:0;width:80px;border:0 !important;border-radius:0px !important;" type="button" data-toggle="dropdown"><span style="position:absolute;top:0;left:25%;">Login</span>
      <span class="caret" style="position:absolute;top:30%;left:75%;"></span></button>
      <ul class="dropdown-menu" style="position:absolute;left:-80px;top:23px">
        <li class="dropdown-header">Dropdown header 1</li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Dropdown header 2</li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
    </div>
  </header>