#divHeader{
	height:10%;
	border-color:darkgreen;
	border-style:dashed;
}
#divContent{
	height:80%;
	border-color:darkgreen;
	border-style:dashed;
}
#divContentLeft{
	width:50%;
	height:100%;
	background-color:lightgreen;
	float:left;
}
#divContentBody{
	width:50%;
	height:100%;
	background-color:lightgray;
	float:right;
}
#picBody{
	border-color:white;
	border-style:solid;
	margin-top:4%;
	margin-right:4%;
	float:right;
	max-height:90%;
	max-width:90%;
	height:auto%;
}
#divFooter{
	height:6%;
	border-color:darkgreen;
	border-style:dashed;
}
#btnJa{
	font-weight:bolder;
	font-stretch:expanded;
	width:8%;
}
#inputEmail{
	width:80%;
	display:inline-block;
}
#btnEntrar{
	width:10%;
	position:absolute;
	float:right;
}
.textoDestaque{
	display:inline-block;
	vertical-align:sub;
	color:white;
}

/*#imgBody {
    background-repeat: no-repeat;
    src: url('public/images/garagem/small.jpg');
}*/
/*
@media only screen and (min-width: 400px) {
    #imgBody {
       src: url('images/garagem/medium.jpg');
    }
}
@media only screen and (min-width: 600px) {
    #imgBody {
       src: url('images/garagem/large.jpg');
    }
}
@media only screen and (min-width: 800px) {
    #imgBody {
       src: url('images/garagem/verylarge.jpg');
    }
}*/