#divHeader{
	height:5%;
	border-color:darkgreen;
	border-style:dashed;
}
#divContent{
	height:80%;
}
#divContentLeft{
	width:50%;
	height:100%;
	background:#3498db;
	float:left;
}
#divContentBody{
	width:50%;
	height:100%;
	background:#3498db;
	float:right;
}
#imgBody{
	border-color:white;
	border-style:solid;
	margin-top:4%;
	margin-right:4%;
	float:right;
	max-height:90%;
	max-width:90%;
	height:auto%;
}
#divFooter{
	height:6%;
}
#btnJa{
	font-weight:bolder;
	font-stretch:expanded;
	width:8%;
}
#inputSearch{
	width:80%;
	display:inline-block;
}
#btnEntrar{
	width:10%;
	position:absolute;
	float:right;
}
.textoDestaque{
	font-family: 'Open Sans', sans-serif !important;
	font-weight:bold;
	display:inline-block;
	vertical-align:sub;
  	font-size:1.5em;
  	color:#525252;
}
.btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}
.btn:hover{
  background:#2CC06B;
  color:white !important;
}
.box{
  background:white;
  width:90%;
  border-radius:6px;
  margin: 3% auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #2980b9 4px solid; 
}